.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

.blureffect{
	height: 100vh;
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); 
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



#content { 
  	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight:100; 
  	background: rgba(0,0,0,0.3);
  	color: white;
  	padding: 2rem;
  	width: 40%;
  	margin:auto;
  	float: center;
  	font-size: 1.2rem;
  	margin-top: 25vh;
}

h1 {
	text-align: center;
	color: white;
  	font-size: 4rem;
  	text-transform: uppercase;
  	margin-top: 0;
  	letter-spacing: .3rem;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

a {
	color: white;
	text-decoration: none;

}